body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
  padding: 5px;
}
.mainheader {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: #E1DEDD;
  float: left;
}
.mainheader div {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
}
.mainheader div img {
  width: 60px;
  height: 60px;
}
.mainheader div span {
  font-size: 40px;
  color: green;
  padding: 15px;
  margin: 8px 0px;
  font-weight: bold;
}
.mainheader div .searchbox {
  width: 20%;
  float: right;
  padding: 5px;
  margin: 10px 10px;
}
.backgroundgradient {
  float: left;
  background-color: #c9c4c2;
  height: auto;
  margin-bottom: 5px;
  padding-left: 0px;
  padding-right: 10px;
  width: 100%;
}
.backgroundgradient ul li {
  float: left;
  background-color: #817571;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
  margin: 0px 10px 10px 0px;
  /*top, right, left, bottom*/
}
.backgroundgradient ul li:hover {
  background-color: #E1DEDD;
}
.backgroundgradient ul li a {
  text-decoration: none;
  color: black;
}
